:root {
    --dark-blue-bg: #1F2937;
    --light-blue: #3882F6;
    --gray: #c0c0c0;
    --white: #F9FAF8;
    --dark-blue-tx: #1F2937;
}
html {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}
/*Header*/
#header {
    background-color: var(--dark-blue-bg);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}
#header-logo {
    font-size: 22px;
    letter-spacing: 1px;
}
#header-list {
    text-decoration: none;
    font-size: 17px;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 15px;
}
a {
    text-decoration: none;
    color: var(--gray);
}
a:visited {
    color: var(--white);
}
/*Hero*/
#hero-section {
    background-color: var(--dark-blue-bg);
    color: var(--white);
    margin: 0;
    display: flex;
    align-items: center;
    padding: 7.5% 15%;
    gap: 35px;
}
#hero-h1 {
    font-size: 45px;
    margin: 2px 0;
}
#hero-p {
    font-size: 17px;
    color: var(--gray);
    margin: 2px 0;
    
}
#hero-button {
    color: var(--white);
    background-color: var(--light-blue);
    border: none;
    padding: 0;
    border-radius: 7px;
    width: 125px;
    height: 35px;
    margin-top: 10px;
    font-size: 16px;    
}
#placeholder-img {
    width: 470px;
    height: 241px;
}
#hero-right {
    height: 246px;
}
#hero-left {
    display: flex;
    flex-direction: column;
}