:root {
    --dark-blue-bg: #1F2937;
    --light-blue: #3882F6;
    --gray: #dddddd;
    --white: #F9FAF8;
    --dark-blue-tx: #1F2937;
}
html {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}
/*Header*/
#header {
    background-color: var(--dark-blue-bg);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}
#header-logo {
    font-size: 22px;
    font-weight:700;
}
#header-list {
    text-decoration: none;
    font-size: 17px;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 15px;
}
a {
    text-decoration: none;
    color: var(--gray);
}
a:visited {
    color: var(--white);
}
/*Hero*/
#hero-section {
    background-color: var(--dark-blue-bg);
    color: var(--white);
    margin: 0;
    display: flex;
    align-items: center;
    padding: 7.5% 15%;
    gap: 35px;
}
#hero-h1 {
    font-size: 45px;
    margin: 2px 0;
}
#hero-p-left {
    font-size: 17px;
    color: var(--gray);
    margin-top: 0;
    margin-bottom: 10px;
    
}
#hero-button {
    color: var(--white);
    background-color: var(--light-blue);
    border: none;
    padding: 0;
    border-radius: 7px;
    width: 125px;
    height: 35px;
    font-size: 16px;    
}
#hero-img {
    width: 470px;
    height: 237px;
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-p-right {
    text-align: center;
    color: #dad8d8;
}
#hero-right {
    height: 241px;
}
#hero-left {
    display: flex;
    flex-direction: column;
}
/*Information Section*/
#info-heading {
    font-size: 35px;
    text-align: center;
    color: var(--dark-blue-tx);
    margin-bottom: 50px;
}

.info-boxes {
    width:150px;
    height: 150px;
    border: solid var(--light-blue) 4px;
    border-radius: 15px;
}
.info-block {
    display: flex;
    flex-direction: column;
    width: 150px
}
.information-flex {
    display: flex;
    justify-content: center;
    gap: 55px;
    text-align: center;
    color: #6d747d;
}
.info-paragraph {
    margin-top: 6px;
}
#information-section {
padding: 10px 50px 108px 50px;
}
/*Quote Section*/
#quote-section {
    background-color: var(--gray);
    padding: 70px 320px;
    
}
#quote {
    font-size: 33px;
    font-weight: 300;
    margin-bottom: 0;
}
#author {
    text-align: right;
    font-size: 22px;
    margin-top: 5px;
}
/*Call to Action Section*/
#cta-banner {
    height: 130px;
    width: 55%;
    background-color: var(--light-blue);
    margin: 90px auto;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    color: var(--white);
    padding: 0 100px;
}
#cta-left {
    display: flex;
    flex-direction: column;
}
#cta-header {
    margin: 0;
    font-size: 20px;
    letter-spacing: 1px;
}   
#cta-description {
    margin: 0;
    color: #d4d4d4;
}
#cta-button {
    background-color: var(--light-blue);
    border: solid white 2px;
    border-radius: 7px;
    width: 125px;
    height: 40px;
    color: white;
    font-weight: 700;
    font-size: 16px;
}